.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f5f4f1; /* couleur nude très claire */
}

/* ===== Barre supérieure ===== */
.top-bar {
    -fx-background-color: #ffffff; /* blanc doux */
    -fx-padding: 10;
    -fx-spacing: 10;
}

/* ===== Boutons ===== */
.button {
    -fx-background-color: #e9d3ff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 6 12;
}

.button:hover {
    -fx-background-color: #c4a7f7;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #e9d3ff;
    -fx-text-fill: #000000;
}


/* ====== SCENE EDITEUR ====== */

.editor-root {
    -fx-background-color: #f5f4f1;
}

/* Zone titre de la note */
.editor-title {
    -fx-background-color: #ffffff;      /* fond blanc */
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #e5e5e5;          /* couleur du contour normal */
    -fx-padding: 8;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #a8a8a8;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Zone contenu */
.editor-content {
    -fx-background-color: #ffffff;      /* fond blanc */
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #e5e5e5;          /* couleur du contour normal */
    -fx-padding: 8;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #a8a8a8;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Barre du bas (actions) */
.editor-bar {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 1 0 0 0;
}

/* Bouton retour */
.btn-back {
    -fx-background-color: #e9d3ff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 6 12;
}


.btn-back:hover {
    -fx-background-color: #c4a7f7;
}

